<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><b>Familiar 1:</b>
    <br>
    <br>Nombre: {{fam_1.nombre}}
    <br>Apellido: {{fam_1.apellido}}
    <br>DNI: {{fam_1.dni}}
    <br>Estado civil: {{fam_1.estado}}
    <br>Fecha nacimiento: {{fam_1.fecha}}
    <br>
    <br><b>Familiar 2:</b>
    <br>
    <br>Nombre: {{fam_2.nombre}}
    <br>Apellido: {{fam_2.apellido}}
    <br>DNI: {{fam_2.dni}}
    <br>Estado civil: {{fam_2.estado}}
    <br>Fecha nacimiento: {{fam_2.fecha}}
    <br>
    <br><b>Familiar 3:</b>
    <br>
    <br>Nombre: {{fam_3.nombre}}
    <br>Apellido: {{fam_3.apellido}}
    <br>DNI: {{fam_3.dni}}
    <br>Estado civil: {{fam_3.estado}}
    <br>Fecha nacimiento: {{fam_3.fecha}}
</body>
</html>